<%= form_for(blog) do |f| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= alert_generator error, "Error" %>
    <% end %>
  <% end %>
  <div class="form-group">
    <h5><%= f.label :title %></h5>
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>

  <div class="form-group">
    <h5><%= f.label :subtitle %></h5>
    <%= f.text_area :subtitle, class: "form-control", rows: 3, placeholder: "Subtitle" %>
  </div>

  <div class="form-group">
    <h5><%= f.label :topic_id %></h5>
    <%= f.collection_select(
      :topic_id,
      Topic.all,
      :id, :title,
      {
        selected: blog_topic_id(blog),
        include_blank: true
      },
      class: 'form-control') %>
  </div>

  <div class="form-group">
    <h5><%= f.label :body %></h5>
    <%= f.text_area :body, class: "form-control", rows: 12, placeholder: "Body" %>
  </div>

  <hr>

  <div class="form-group">
    <h5>Post status</h5>
    <div class="row">
      <div class="col-md-1">
        <%= f.radio_button :status, "draft", checked: blog.draft? %>
      </div>
      <div class="col-md-1 radio-btn-text">
        <h6>Draft</h6>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-1">
        <%= f.radio_button :status, "published", checked: blog.published? %>
      </div>
      <div class="col-md-1 radio-btn-text">
        <h6>Published</h6>
      </div>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
