<%= render "shared/blog_masthead",
  head: "site-heading",
  title: "Editing Blog",
  subtitle: @blog.title %>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-10 mx-auto">
        <%= render 'form', blog: @blog %>
        <%= back_btn %> |
        <%= show_btn @blog %>
      </div>
      <%= render "shared/blog_sidebar", topics: @topics %>
    </div>
  </div>
</article>

<hr>
