<%= render "shared/blog_nav",
  img_bg: "http://placehold.it/2300x2000",
  head: "post-heading",
  title: @blog.title,
  subtitle: @blog.subtitle,
  topic: @blog.topic.title,
  created_at: @blog.updated_at %>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p><%= @blog.body %></p>
        <%= back_btn %> |
        <%= edit_btn @blog %>
      </div>
      <%= render "shared/blog_sidebar" %>
    </div>
    <hr>
    <%= render "blogs/disqus", blog: @blog %>
  </div>
</article>

<hr>
