<%= render "shared/blog_masthead",
  img_bg: @blog.cover_image,
  head: "post-heading",
  title: @blog.title,
  subtitle: @blog.subtitle,
  topic: @blog.topic.title,
  created_at: @blog.updated_at %>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <nav class="breadcrumb">
          <h5 class="breadcrumb-item"><%= link_to "Home", root_path, class: "link-item" %></h5>
          <h5 class="breadcrumb-item"><%= link_to @blog.topic.title, topic_path(@blog.topic), class: "link-item" %></h5>
          <h5 class="breadcrumb-item active"><%= @blog.title %></h5>

          <span class="breadcrumb-icons">
            <%= breadcrumb_edit_icon @blog %>
            <%= breadcrumb_delete_icon @blog %>
            <span>
        </nav>

        <% if logged_in? :site_admin %>
          <span><strong>Status:</strong> <%= @blog.status %></span>
        <% end %>

        <p><%= markdown @blog.body %></p>

        <nav class="breadcrumb">
          <h5 class="breadcrumb-item"><%= blog_back_btn %></h5>
          <% if logged_in? :site_admin %>
            <h5 class="breadcrumb-item"><%= blog_edit_btn @blog %></h5>
            <h5 class="breadcrumb-item"><%= blog_delete_btn @blog %></h5>
          <% end %>
        </nav>
      </div>
      <%= render "shared/blog_sidebar" %>
    </div>
    <hr>
    <%= render "blogs/disqus", blog: @blog %>
  </div>
</article>

<hr>
