<%= form_for(portfolio_item) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle, class: "form-control" %>
      </div>
      <div class="form-group">
        <label>Load <%= f.label :main_image %> file</label>
        <%= f.file_field :main_image, class: "filestyle" %>
      </div>
      <div class="form-group">
        <label>Load <%= f.label :thumb_image %> file</label>
        <%= f.file_field :thumb_image, class: "filestyle"%>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control",rows: 12 %>
      </div>
    </div>
  </div>

  <hr>

  <h2>Technologies Used</h2>

  <div class="col-md-12">
    <div>
      <%= f.fields_for :technologies do |technology_form| %>
        <%= render 'technology_fields', f: technology_form %>
      <% end %>

      <%= link_to_add_association 'Add new Technology', f, :technologies %>
    </div>

    <div class="form-group">
      <%= f.submit "Save Portfolio Item", class: "btn btn-primary btn-block my-2" %>
    </div>
  </div>

  <script type="text/javascript">
    $('.filestyle').filestyle();
  </script>
<% end %>
