<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ul class="list-inline text-center" id="social-icons-responsive">
          <li class="list-inline-item">
            <%= link_to "https://twitter.com/pauloesb_", target: "_blank" do %>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to "https://www.facebook.com/pauloesb", target: "_blank" do %>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to "https://github.com/pauloesb", target: "_blank" do %>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to "https://www.linkedin.com/in/paulo-eduardo-souza-borba-1aa0b8b0", target: "_blank" do %>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
          </li>
        </ul>
        <%= set_copyright "copyright text-muted" %>
      </div>
    </div>
    <div class="div-link">
      <a href="#" class="btn btn-link link-footer">Go to the top of the page</a>
    </div>
  </div>
</footer>
