<header class="masthead" style="background-image: url(<%= img_asset_path local_assigns[:img_bg] %>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="<%= local_assigns[:head] %>">
          <h1><%= local_assigns[:title] %></h1>
          <%= show_subtitle local_assigns[:subtitle] %>
          <%= show_topic local_assigns[:topic] %>
          <br>
          <%= show_published_time local_assigns[:created_at] %>
        </div>
      </div>
    </div>
  </div>
</header>
