<div class="app-card-container">
  <div class="card">
    <div class="card-body">
      <div class="about-me-page">
        <h1>About Me</h1>

        <hr>

        <div class="row">
          <div class="col-md-4">
            <%= image_tag "home_about_me.png", width: 300, alt: "profile image", class: "profile-img" %>
            <hr>
            <div class="skills">
              <% @skills.each do |skill| %>
                <div class=skill>
                  <h4><%= skill.title %></h4>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success"
                         role="progressbar"
                         aria-valuenow="<%= skill.percent %>"
                         aria-valuemax="100"
                         style="width: <%= skill.percent %>%;">
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <hr>
          </div>
          <div class="col-md-7 about-me">
            <p>Hi, my name is Paulo Borba, I have 26 years, I’m a Software Engineer, that is still studying to become a Full Stacker Developer, and this is my personal website. The proposal of this website is to show a little more about my work and capabilities, and also, it’s a form to keep up with my knowledge, studying and applying the all the forms of knowledge to produce a high quality of work (in this case code).</p>

            <hr>

            <p>
              <h3 class="text-center">Education</h3>
              <div class="card card-body about-info">
                <div class="row">
                  <div class="col-md-4">
                    <%= image_tag "about/edu_1.png", style: "width: 100%" %>
                  </div>
                  <div class="col-md-8">
                    Graduated from Universidade de Brasília with BS in Software Engineering.
                  </div>
                </div>
              </div>
              <div class="card card-body about-info">
                <div class="row">
                  <div class="col-md-4">
                    <%= image_tag "about/edu_2.jpg", style: "width: 100%" %>
                  </div>
                  <div class="col-md-8">
                    Interchange Student at Brunel University London with BS in Computer Science for one year.
                  </div>
                </div>
              </div>
            </p>
            <p>
              <h3 class="text-center">Job History</h3>
              <div class="card card-body about-info">
                <div class="row">
                  <div class="col-md-4">
                    <%= image_tag "about/job_3.png", style: "width: 100%" %>
                  </div>
                  <div class="col-md-8">
                    <strong>Ruby on Rails Developer</strong> - Solidify my knowledge on RoR, increase test coverage, help develop new features, give maintenance to the platform.
                  </div>
                </div>
              </div>
              <div class="card card-body about-info">
                <div class="row">
                  <div class="col-md-4">
                    <%= image_tag "about/job_2.png", style: "width: 100%" %>
                  </div>
                  <div class="col-md-8">
                    <strong>Data Analyst</strong> - Worked as DBA and developer by modelling relational DB's into multidimensional DB's and integrating their solution of PABX into Pentaho Analytics.
                  </div>
                </div>
              </div>
              <div class="card card-body about-info">
                <div class="row">
                  <div class="col-md-4">
                    <%= image_tag "about/job_1.png", style: "width: 100%" %>
                  </div>
                  <div class="col-md-8">
                    <strong>Jr. Programmer</strong> - Java Developer with training course for ECM, gave maintenance into some ECM platforms and support to end users.
                  </div>
                </div>
              </div>
              <div class="card card-body about-info">
                <div class="row">
                  <div class="col-md-4">
                    <%= image_tag "about/edu_2.jpg", style: "width: 100%" %>
                  </div>
                  <div class="col-md-8">
                    <strong>Researcher</strong> - Study of why Findbugs was giving so many false positives and come up with a solution to increase accuracy of the plugin.
                  </div>
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

